body {
 background-image: url("../images/site/background.jpg");
 background-position: center center;   
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}


h1{
  text-align: center;
	letter-spacing: 5px;
	font-family: 'Bangers', cursive;
}

h2{
  text-align: left;
  letter-spacing: 2px;
  font-family: 'Bangers', cursive;
}

h3{
  text-align: right;
  letter-spacing: 2px;
  font-family: 'Bangers', cursive;
}

p{
	font-family: 'Lora', serif;
}
.calltoaction{
  margin-right: 20px;
}
.calltoaction ul{
  list-style-type:none;
}

.navigation {	
    background-color: #de2226;
    overflow: hidden;
    text-align: center;
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
    /*margin-left: 20px;
    margin-right: 20px;*/
  }
.navigation li { display: inline-block; margin-left: .25rem; }
.navigation a {	
   display: block;
   color: #000000;
   padding: .5rem;
   text-align: center;
   text-decoration: none;
   font-weight: bold;
  }
.navigation a:hover {
	color: #990033;
	background-color: #ffffff;
	font-weight: bolder;
          
  }
 

.account{
	text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}
.account h2{

	letter-spacing: 1px;
	font-family: 'Bangers', cursive;
	font-size: 1em;
}

.account img:hover {
    opacity: 0.5;
}
 
.box-father{ 
 	display: flex;
 	flex-direction: row;

}
 
 .logoizq{
 	flex: 1 6 20%;
  margin-left: 20px;
  margin-top: 20px;
 }
  .activemenu{
  
    background: #808080;
    color: #262128;
}

.recipe article h2{
  text-align: center;
}

footer {
  color: #000000;
  background-color: #808080;
  clear:both;
  text-align: center;
  font-weight: bolder;
  border-top: 20px solid #000;
  /*margin-left: 20px;
  margin-right: 20px;*/
  font-size: 0.7em;
}
.all{
  background-color: white;
  padding-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
}
header{
  background-color: white;
  margin-left: 60px;
  margin-right: 60px; 
}
.container{
  display: flex;
 

  padding: 0;
  margin: 0;
  
  display: flex;
  
 /* -webkit-flex-flow: row wrap;*/
  justify-content: space-around;

}




#actionbtn-small{
  display: none;
}
#first{
  display: flex;
  text-align: center;
  justify-content:center
}

#first div{
  width: 155px;
  height: 155px;
}
#second{
  display: flex;
  text-align: center;
  justify-content:center
}

#second div{
  width: 155px;
  height: 155px;
}

.gallery h2 {
  text-align: center;
}

/*forms*/
.forms body {line-height: 1.5em;}
.forms h2 {margin-left:20px;border-bottom:1px solid #777; font-size: 1.2em;color:#0000ee;}
/*.ablock {margin-left:30px;}*/
.tight input {color:#000000; margin:5px 20px; font-size:.8em; background-color:#de2226;}
.tight textarea {margin:5px 20px; font-size:.8em; background-color:#de2226;}
.tight label {}
.tight fieldset {margin-bottom:15px; background-color:#de2226;}
.tight legend { color:#000000; font-weight: bolder;}
#sbutton{
  margin:5px 20px; font-size: 1.1em;  background: #262128;  color: #de2226;
}

.ablock {
    margin-left:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#message{
  font-size: 0.7em;
  color: #de2226;
  font-style: italic;
  font-weight: bold;
}