/*tablet*/
@media only screen and (min-width: 37.5em) {
.welcome{
 display: flex;
 flex-direction: row-reverse;
 align-items: center;
 background: url("../images/site/rocketfeature.jpg") 50% 50% no-repeat;
 background-size: cover;
 width: 100% ;
 height: 200px;
 
}

  .logo{
	display: none;
  }
  .logo-small{
	display: inline;
  }

   .img-acc {
 	width: 58px;
 	height: 40px;
}

  .imageNormal{
  display: inline;
  max-width: 400px;
  max-height: 400px;
  }
  .imageSmall{
  display: none;
  }

#prod-display{
 flex-flow: row wrap;
 justify-content: flex-start;
}
#prod-display li{
 max-width: 200px;
 flex: 1 0 auto;
 text-align: center;
 max-height: 400px; 
}

  .hamburger { display: none; }



}

